html {
    background-color: hsl(0, 0%, 0%);
}
p {
    color:rgb(255, 255, 255);
}
h2 {
    color: #00a210;
}
a {
    color: rgb(86, 184, 86);
}
.block {
    width: 260px;
    background-color: rgb(241, 237, 181);
    border: 2px solid rgb(128, 119, 119);
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
}